<div class="container">
  <!-- Navbar (original, untouched) -->
  <div class="nav">
    <nav class="navbar">
      <div class="logo-container">
        <h3 class="logo-text">
          <a routerLink="/logo" class="text-decoration-none">Learn2Earn</a>
        </h3>
      </div>       
      <ul>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/resources">Resources</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </nav> 
  </div>

  <!-- Content of Body Section (No Change) -->
  <div class="about-us-container">
    <h1>About Us</h1>
    <h2>National Center for Families Learning</h2>
    <p>
      NCFL's mission is to eradicate poverty through education solutions for families. Throughout our 28-year history, we have changed the lives of millions of families across the country by providing literacy strategies, programming, and resources.
      Engaging multiple generations together has been a fundamental and distinguishing aspect of our work, because we know this holistic approach creates a stronger impact and greater success for families.
    </p>
    <p>
      Collaboration is critical to our work, and we partner with schools, libraries, and other organizations across the United States. We share the belief that every parent and every family is valuable. We help families create learning networks. These networks can help people work to earn a GED®, learn to read at their grade level, or go on to higher education.
    </p>
    <p>
      We work in over 100 communities across the United States. Our programs help families increase their literacy and improve their communities. NCFL knows that families can improve their lives when adults in the family are successful. We work with adult education teachers and programs to help these adults learn with their families.
    </p>
  </div>

 
</div>
<div class="footer-section">
  <p>Learn2Earn &nbsp;&nbsp;&nbsp;&nbsp;  ©2024 National Center for Families Learning (NCFL). All rights reserved.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy &nbsp;&nbsp;&nbsp;&nbsp;| Terms of Use</p>
</div>
