<div class="container">
  <div class="nav">
    <nav class="navbar">
      <div class="logo-container">
        <h3 class="logo-text">
          <a routerLink="/logo" class="text-decoration-none">Learn2Earn</a>
        </h3>
      </div>       
      <ul>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/resources">Resources</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </nav> 
  </div>
  <div class="row">
    <div class="block" *ngFor="let img of images">
      <div class="image-container {{img.name}}" (click)="showVideo(img.videoUrl)">
        <!-- Image will be set through CSS background -->
      </div>
      <span class="image-name">
        {{ img.name === 'criticalthinking' ? 'Critical Thinking' : 
           img.name === 'Information' ? 'Information' : 
           img.name === 'problemsolving' ? 'Problem Solving' :
           img.name === 'profesionalism' ? 'Professionalism' :
           img.name === 'speaking' ? 'Speaking' :
           img.name === 'teamcollaboration' ? 'Team Collaboration' :
           img.name === 'timemanagement' ? 'Time Management' :
           img.name === 'EnglishLang' ? 'English Language' : '' }}
      </span>
    </div>
  </div>

  <!-- Modal for video -->
  <div id="myModal" class="modal" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <iframe *ngIf="currentVideoUrl" [src]="currentVideoUrl" width="100%" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
