<div class="login">
    <nav class="navbar">
        <div class="logo-container">
          <h3 class="logo-text">
            <a routerLink="/logo" class="text-decoration-none">Learn2Earn</a>
          </h3>
        </div>       
        <ul>
          <li><a routerLink="/skills">Skills</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/resources">Resources</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </nav> 
      <div class="welcome-message">
        <h1>Welcome</h1>
      </div>
      <div class="to">
      <span><em>2</em></span>
      </div>        
</div>
